{% extends "base.html" %}
{% block content %}

<h3> {{ item.item_type.title}} </h3>
<div>

    <b>Quantity:</b>{{ item.quantity }} {{ item.item_type.get_quantity_type_value }}
</div>
<div class="mt-2">
    <div>
        Change quantity:
    </div>
    <a href="{% url 'items:create_item_action_add' item.id %}" class="btn btn-primary">Add</a>
    <a href="{% url 'items:create_item_action_move' item.id %}" class="btn btn-primary">Move</a>
    <a href="{% url 'items:create_item_action_remove' item.id %}" class="btn btn-primary">Remove</a>
    <div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Arrived from</th>
                    <th>Notes</th>

                </tr>
            </thead>
            <tbody>
                 {% for item_action in item_actions %}
                <tr>
                    <td>{{item_action.get_action_value}}</td>
                    <td>{{item_action.amount}}</td>
                    <td>{{item_action.date}}</td>
                    <td>{{item_action.from_location}}</td>
                    <td>{{item_action.reason}}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<div class="mt-2">
    <!--    {% if item.created_by == user.id or perms.items.change_item %}-->
    <!--    <a class="btn btn-primary" href="{% url 'items:edit_item' item.id %}" role="button">Edit</a>-->
    <!--    {% endif %}-->
    {% if item.created_by == user.id or perms.items.delete_item %}
    <a class="btn btn-danger" href="{% url 'items:delete_item' item.id %}" role="button">Delete</a>
    {% endif %}
    <a class="btn btn-cancel" href="{% url 'items:list_items' %}" role="button">Back</a>
</div>

{% endblock %}